@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
	font-family: "Roboto", sans-serif;
}
html, body {
	height: 100%;
}
p, p a {
  color: white;
  float: right;
}
p a {
  background-color: grey;
}
.nav {
	background-color: #824;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
}
ul li {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
}
a {
	text-decoration: none;
}
.welcome {
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 10px;
	align-items: center;

}
.menu li a {
	font-size: 18px;
	font-weight: 400;
	line-height: 70px;
	color: #fcfefe;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
}
.menu li a:active{
	background-color: slategrey;
}

.menu li:hover {
	background-color:teal;
	color: black;
}
.regPage, .success {
	height: 100%;
	background-color: #e7eaf6;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.regForm {
	flex: 1;
	background-color: #e7eaf6;
	max-width: 600px;
	border-radius: 10px;
	border: 1px solid teal;
	margin-top: auto;
	margin-bottom: auto;
}
.formHeader {
	padding: 15px 0px;
	border-bottom: 1px solid teal;
}
.formHeader h1 {
	font-size: 28px;
	text-align: center;
	color: #666;
}
.row {
	display: flex;
	flex-direction: row;
}

.items {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 10px 5px;

}
.logSu p, .inner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	color: gray;
}
 

label {
	color: gray;
	font-size: 17px;
	font-size: 500;
}
		
input[type=text], select, input[type=email], input[type=password], input[type=date], input[type=color] {
	font-size: 18px;
	padding: 12px 12px;
	margin: 8px 0;
	height: 45px;
	border-radius: 5px;
	border: 1px solid teal;
	box-sizing: border-box;
	color: gray;
	outline: none;
	background-color: #e7eaf6;
}

.formBody {
	background: white;
	padding: 5px 10px;
	border-bottom: 1px solid teal;
}

@media only screen and (max-width: 500px) {
    .row{
      flex-direction:column; 
    }
}
input[type=color] {
	width: 15%;
	}
.formFooter {
	display: flex;
	justify-content: center;
}
.button {
	padding: 10px 20px;
	background-color: #824;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
.button:hover {
	background-color: teal;
}
/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
    .row{
      flex-direction:column; 
    }

    .button {
        flex:1;
    }
}